<div id="<%= dom_id sea_fish %>">
  <p>
    <strong>Tên loài cá:</strong>
    <%= sea_fish.name_143 %>
  </p>

  <p>
    <strong>Đặc điểm:</strong>
    <%= sea_fish.characteristic_143 %>
  </p>

  <p>
    <strong>Màu sắc:</strong>
    <%= sea_fish.color_143 %>
  </p>

  <p>
    <strong>Kích thước:</strong>
    <%= sea_fish.size_143 %>
  </p>

  <p>
    <strong>Tập tính sinh hoạt:</strong>
    <%= sea_fish.behavior_143 %>
  </p>

  <p>
    <strong>Nơi sống:</strong>
    <%= sea_fish.habitat_143 %>
  </p>

</div>
