<header class="header">
  <div class="header-container">
      <div class="row">
          <%# <div class="col-lg-3 col-md-3">
              <div class="header__logo">
                  <a href="./index.html"><img src="img/logo.png" alt=""></a>
              </div>
          </div> %>
          <div class="col-lg-6 col-md-6">
              <nav class="header__menu mobile-menu">
                  <ul>
                    <% if current_user %>
                      <li><%= link_to "Home", home_path %></li>
                      <li class="active"><%= link_to "Management", sea_fishes_path %></li>
                    <% else %>
                      <li ><%= link_to "Home", home_path %></li>
                    <% end %>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="header__nav__option d-flex justify-content-around">
                <div>
                  <%= form_tag(sea_fishes_path, method: :get) do %>
                    <%= text_field_tag :term, params[:term], placeholder:"Nhập tên cá"  %>
                    <%= submit_tag 'Search', class: "btn btn-secondary"%>
                  <% end %>
                </div>
                <div class="d-flex justify-content-around">
                  <% if current_user %>
                    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-primary rounded submit px-3" %>
                  <% else %>
                    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary rounded submit px-3" %>
                    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary rounded submit px-3" %>
                  <% end %>
                </div>
              </div>
          </div>
      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>