<div id="<%= dom_id book_management %>">
  <p>
    <strong>Student id 143:</strong>
    <%= book_management.student_id_143 %>
  </p>

  <p>
    <strong>Full name 143:</strong>
    <%= book_management.full_name_143 %>
  </p>

  <p>
    <strong>Class 143:</strong>
    <%= book_management.class_143 %>
  </p>

  <p>
    <strong>Book id 143:</strong>
    <%= book_management.book_id_143 %>
  </p>

  <p>
    <strong>Book name 143:</strong>
    <%= book_management.book_name_143 %>
  </p>

  <p>
    <strong>Book author 143:</strong>
    <%= book_management.book_author_143 %>
  </p>

  <p>
    <strong>Book category 143:</strong>
    <%= book_management.book_category_143 %>
  </p>

  <p>
    <strong>Bm number 143:</strong>
    <%= book_management.bm_number_143 %>
  </p>

  <p>
    <strong>Borrow date 143:</strong>
    <%= book_management.borrow_date_143 %>
  </p>

  <p>
    <strong>Back date 143:</strong>
    <%= book_management.back_date_143 %>
  </p>

  <p>
    <strong>Number date 143:</strong>
    <%= book_management.number_date_143 %>
  </p>

</div>
