<%= form_with(model: book_management) do |form| %>
  <% if book_management.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book_management.errors.count, "error") %> prohibited this book_management from being saved:</h2>

      <ul>
        <% book_management.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :student_id_143, style: "display: block" %>
    <%= form.text_field :student_id_143 %>
  </div>

  <div>
    <%= form.label :full_name_143, style: "display: block" %>
    <%= form.text_field :full_name_143 %>
  </div>

  <div>
    <%= form.label :class_143, style: "display: block" %>
    <%= form.text_field :class_143 %>
  </div>

  <div>
    <%= form.label :book_id_143, style: "display: block" %>
    <%= form.text_field :book_id_143 %>
  </div>

  <div>
    <%= form.label :book_name_143, style: "display: block" %>
    <%= form.text_field :book_name_143 %>
  </div>

  <div>
    <%= form.label :book_author_143, style: "display: block" %>
    <%= form.text_field :book_author_143 %>
  </div>

  <div>
    <%= form.label :book_category_143, style: "display: block" %>
    <%= form.text_field :book_category_143 %>
  </div>

  <div>
    <%= form.label :bm_number_143, style: "display: block" %>
    <%= form.text_field :bm_number_143 %>
  </div>

  <div>
    <%= form.label :borrow_date_143, style: "display: block" %>
    <%= form.text_field :borrow_date_143 %>
  </div>

  <div>
    <%= form.label :back_date_143, style: "display: block" %>
    <%= form.text_field :back_date_143 %>
  </div>

  <div>
    <%= form.label :number_date_143, style: "display: block" %>
    <%= form.text_field :number_date_143 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
